name: Deploy to Hugging Face Spaces
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Deploy to Hugging Face Space (Docker SDK)
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "ci@github.com"
          git config --global user.name "GitHub Actions"

          git clone https://gauriws:${HF_TOKEN}@huggingface.co/spaces/gauriws/Prototype2 hf-space

          rsync -av --exclude='.git' ./ hf-space/

          cd hf-space
          git add .
          git commit -m "Docker deploy from GitHub" || echo "No changes"

          git push origin main --force
